<!DOCTYPE html>
<html>
<head>
<title>Smart Retail Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="main">

<!-- Sidebar -->
<div class="sidebar">

<h2>📊</h2>

<a href="#">Upload Data</a>
<a href="#">Threshold</a>
<a href="#">Graph</a>
<a href="#">Report</a>

</div>


<!-- Main Content -->
<div class="content">

<!-- Header -->
<div class="top-box">

<h1>Smart Retail Anomaly Detection Dashboard</h1>
<p>Detect unusual patterns using statistical analysis</p>

<form action="/upload" method="post" enctype="multipart/form-data">

<input type="file" name="file" required>

<label>Threshold:</label>

<input type="range"
min="1"
max="5"
step="0.1"
value="2"
name="threshold"
oninput="this.nextElementSibling.value=this.value">

<output>2</output>

<button type="submit">Detect Anomalies</button>

</form>

</div>


{% if show_result %}

<!-- Cards -->
<div class="cards">

<div class="card green">
<div class="card-top">
<span class="icon">📊</span>
<div>
<h3>Total Transactions</h3>
<p>{{ total }}</p>
</div>
</div>
</div>

<div class="card red">
<div class="card-top">
<span class="icon">❗</span>
<div>
<h3>Anomalies Found</h3>
<p>{{ anomalies }}</p>
</div>
</div>
</div>

<div class="card blue">
<div class="card-top">
<span class="icon">📈</span>
<div>
<h3>Avg Anomaly Z-Score</h3>
<p>{{ avg }}</p>
</div>
</div>
</div>

<div class="card purple">
<div class="card-top">
<span class="icon">📱</span>
<div>
<h3>Detected Column</h3>
<p>{{ column }}</p>
</div>
</div>
</div>

</div>


<!-- Charts -->
<div class="charts">

<div class="graph-box">
<h2>Scatter Plot</h2>
<img src="{{ url_for('static', filename='chart1.png') }}">
</div>

<div class="graph-box">
<h2>Trend Line</h2>
<img src="{{ url_for('static', filename='chart2.png') }}">
</div>

<div class="graph-box">
<h2>Top Anomalies</h2>
<img src="{{ url_for('static', filename='chart3.png') }}">
</div>

</div>


<!-- Download -->
<div class="download">
<a href="/download">
<button>⬇ Download Report</button>
</a>
</div>


<!-- Table -->
<div class="table-box">

<h2>Anomaly Table</h2>

<table>

<tr>
{% for col in columns %}
<th>{{ col }}</th>
{% endfor %}
</tr>

{% for row in table_data %}
<tr>
{% for col in columns %}
<td>{{ row[col] }}</td>
{% endfor %}
</tr>
{% endfor %}

</table>

</div>

{% endif %}

</div>
</div>

</body>
</html>
